:root {
    --app-background-color: #441852;
    --main-white-color: #f6f6f8;
    --main-red-color: #e23535;
    --main-grey-color: #03d7f3fd;
    --main-yellow-color: #0e5df0;
    --main-green-color: #58DD30;
    --rules-page-background: rgb(180, 180, 180);
    font-family:'Poppins', sans-serif;
   
}
* {
    margin: 0;
    padding: 0;
}